@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 80px;
    --first-color: #18181a;
    --first-color-light: #ffffff;
    --white-color: #f1300e;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --header-color: #080807;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 0rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color:var(--first-color-light);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5px solid;
    padding: 1%;
    border-color: #151516a9 ;
}

.header_img img {
    width: 50px;
    border-color: #18181a;
}

.l-navbar {
   
    position: fixed;
    top: 0;
    left: -60%;
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem .1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    color: #ffffff !important;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:scroll;

}
.nav::-webkit-scrollbar{

    width: 2px;
    height: 0px;

}

.nav::-webkit-scrollbar-thumb{
    background-color: #424040fd;
    border-radius: 5px;
}

.nav::-webkit-scrollbar-thumb:hover{
    background-color: #c55b05fd;
}


.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem;
    
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--first-color-light);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0;
}



.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}
@media screen and (max-width: 768px) {

    /* .l-navbar {
        width: calc(var(--nav-width)*2.55);
    } */
    .body-pd {
        padding-left: calc(var(--nav-width)*2.54);
    }

}


@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 0rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        width: var(--nav-width);
        left: 0rem;
        padding: 1rem 0.6rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 154px)
    }
}